<template name="Address">
	<i class="fa fa-5x fa-home step-icon"></i>
	<div class="addressform">
		<div class="app-text">
			<h3 class="step-title">{{ title }}</h3>
			<p class="instructions">{{ text }}</p>
		</div>
	    {{> quickForm collection="Applicants" schema="FormSchemas.GetAddress" id="addressForm" type="update" doc=this buttonClasses="btn btn-next btn-primary" buttonContent="Next"}}
		<ul class="navigation-buttons">
			<li><a class="btn-primary btn" href="{{pathFor 'ContactInfo'}}"><i class="fa-arrow-circle-left fa"></i> Back</a></li>
			<li><a class="btn-help btn-warning btn" href="#">Help <i class="fa-question-circle fa"></i></a></li>
		</ul><!-- /.navigation-buttons -->
	</div>
</template>