<template name="AdultInfo">
	<h3 class="step-title">{{ title }}</h3>
    <p class="instructions">{{ text }}</p>
	<div class="adultinfoform">
		{{#autoForm id="adultInfoForm" type="update" collection="Applicants"  doc=this scope="adult" etArrayItems=true}}

			{{> afQuickField name=thisAdultFieldA}}

			  <div class="form-group">
		    <button type="submit" class="btn btn-primary">Next</button>
		
			</div>
	    {{/autoForm}}
	</div>
		
	
	<ul class="navigation-buttons">
	      <li><a class="back-button btn" href="/">Back</a></li>
      </ul><!-- /.navigation-buttons -->
</template>
