<template name="ContactInfo">
    <i class="fa fa-5x fa-phone step-icon"></i>
	<div class="contactinfoform">
        <div class="app-text">
            <h3 class="step-title">{{ title }}</h3>
            <p class="instructions">{{ text }}</p>
        </div>
	    {{> quickForm collection="Applicants" schema="FormSchemas.GetContactInfo" id="contactInfoForm" type="update" doc=this buttonClasses="btn btn-primary btn-next" buttonContent="Next"}}
        <ul class="navigation-buttons">
            <li><a class="btn-primary btn" href="{{pathFor 'SignIn'}}"><i class="fa-arrow-circle-left fa"></i> Back</a></li>
            <li><a class="btn-help btn-warning btn" href="#">Help <i class="fa-question-circle fa"></i></a></li>
        </ul><!-- /.navigation-buttons -->
    </div>

</template>