<template name="Export">
	<i class="fa fa-5x fa-sign-out step-icon"></i>
	<div class="form">
		<div class="app-text">
			<h3 class="step-title">Success!</h3>
			<p class="instructions">Your application is complete. Click "Show Form" to see your answers. You can use your browser's options to print or save this screen.</p>
			<p class="instructions">Technical Note: All data can be exported as a JSON array.</p>
		</div>

  		{{> quickForm id="exportForm" type="readonly" collection="Applicants" doc=this buttonClasses="go-button btn" buttonContent="Next"}}
  	</div>
</template>