<template name="Footer">
<!-- @todo: Internationalize -->
	<ul id="footer-links">
		<li><a href="http://www.fns.usda.gov/nslp/national-school-lunch-program-nslp" target="_blank">More information about this program</a></li>
		<li><a href="#" data-toggle="modal" data-target="#non-discrimination">Non-discrimination</a></li>
		<li><a href="#" data-toggle="modal" data-target="#use-of-information">Use of information</a></li>
	</ul>

	<div class="modal fade" id="non-discrimination" tabindex="-1" role="dialog" aria-labelledby="nonDiscrimination">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="nonDiscrimination">USDA Non-Discrimination Statement</h4>
				</div>
				<div class="modal-body">
					<p>In accordance with Federal civil rights law and U.S. Department of Agriculture (USDA) civil rights regulations and policies, the USDA, its Agencies, offices, and employees, and institutions participating in or administering USDA programs are prohibited from discriminating based on race, color, national origin, sex, disability, age, or reprisal or retaliation for prior civil rights activity in any program or activity conducted or funded by USDA.</p>

						<p>Persons with disabilities who require alternative means of communication for program information (e.g. Braille, large print, audiotape, American Sign Language, etc.), should contact the Agency (State or local) where they applied for benefits. Individuals who are deaf, hard of hearing or have speech disabilities may contact USDA through the Federal Relay Service at (800) 877-8339. Additionally, program information may be made available in languages other than English.</p>

						<p>To file a program complaint of discrimination, complete the USDA Program Discrimination Complaint Form, (AD-3027) found online at: <a href="http://www.ascr.usda.gov/complaint_filing_cust.html">http://www.ascr.usda.gov/complaint_filing_cust.html</a>, and at any USDA office, or write a letter addressed to USDA and provide in the letter all of the information requested in the form. To request a copy of the complaint form, call (866) 632-9992. Submit your completed form or letter to USDA by:</p>

						(1) Mail: U.S. Department of Agriculture<br>
						Office of the Assistant Secretary for Civil Rights<br>
						1400 Independence Avenue, SW<br>
						Washington, D.C. 20250-9410;<br>

						<p>(2) Fax: (202) 690-7442; or</p>

						<p>(3) Email: <a href="mailto:program.intake@usda.gov">program.intake@usda.gov</a>.</p>

						<p>This institution is an equal opportunity provider.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="use-of-information" tabindex="-1" role="dialog" aria-labelledby="useOfInformation">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="useOfInformation">Use of Information Statement</h4>
				</div>
				<div class="modal-body">
					<p>The Richard B. Russell National School Lunch Act requires the information on this application. You do not have to give the information, but if you do not submit all needed information, we cannot approve your child for free or reduced price meals. You must include the last four digits of the social security number of the adult household member who signs the application. The social security number is not required when you apply on behalf of a foster child or you list a Supplemental Nutrition Assistance Program (SNAP), Temporary Assistance for Needy Families (TANF) Program or Food Distribution Program on Indian Reservations (FDPIR) case number or other FDPIR identifier for your child or when you indicate that the adult household member signing the application does not have a social security number. We will use your information to determine if your child is eligible for free or reduced price meals, and for administration and enforcement of the lunch and breakfast programs.</p>

						<p>We may share your eligibility information with education, health, and nutrition programs to help them evaluate, fund, or determine benefits for their programs, auditors for program reviews, and law enforcement officials to help them look into violations of program rules.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>