<template name="Header">
<!-- @todo: Internationalize text -->

<div class="header-container">
	<div class="masthead">
		<a href="http://www.usda.gov/" target="_blank" id="logo"><h1>United States Department of Agriculture (USDA)</h1></a>
		<a href="http://www.fns.usda.gov/" target="_blank" id="fns"><h2>Food and Nutrition Service</h2></a>
	</div> <!-- /.masthead -->
	<span id="app-title">
		<h2>Application for Free and Reduced Price School Meals</h2>
	</span>
</div><!-- /.header -->

</template>