<template name="HouseholdFlag">
	<i class="fa fa-5x fa-life-ring step-icon"></i>

	<div class="form-container form">
		<div class="app-text">
			<h3 class="step-title">{{ title }}</h3>
			<p class="instructions">{{ text }}</p>
		</div>
	    {{#autoForm collection="Applicants" doc=this schema="FormSchemas.GetHouseholdFlag" id="householdFlagForm" type="update"}}
	    <fieldset>
	    {{> afQuickField name="isHouseholdFlag"}}
	    {{> afQuickField name="isHouseholdFlagCase"}}
	    </fieldset>

	    <button type="submit" class="btn btn-primary btn-next">Next</button>
	    {{/autoForm}}

		<ul class="navigation-buttons">
			<li><a class="btn-primary btn" href="{{pathFor 'Household'}}"><i class="fa-arrow-circle-left fa"></i> Back</a></li>
			<li><a class="btn-help btn-warning btn" href="#">Help <i class="fa-question-circle fa"></i></a></li>
		</ul><!-- /.navigation-buttons -->

	</div>

</template>