<template name="HouseholdSignout">
	<i class="fa fa-5x fa-check-square-o step-icon"></i>

	<div class="form">

		<div class="app-text">
			<h3 class="step-title">{{ title }}</h3>
			<p class="instructions">{{ text }}</p>
			<p class="instructions">{{ text2 }}</p>
		</div>

		<p class="legal-copy">{{ legalText }}</p>
		<p class="legal-copy">{{ legalText2 }}</p>
		<p class="legal-copy">{{ legalText3 }}</p>
	    {{> quickForm collection="Applicants" schema="FormSchemas.GetHouseholdSignout" id="householdSignoutForm" type="update" omitFields="signouttime" doc=this buttonClasses="btn-finish btn-success btn" buttonContent="Finish"}}

	  <ul class="navigation-buttons">
	      <li><a class="back-button btn" href="/">Back</a></li>
		  <li><a class="btn-help btn-warning btn" href="#">Help <i class="fa-question-circle fa"></i></a></li>
      </ul><!-- /.navigation-buttons -->
	</div>
</template>