<template name="HouseholdSSN">
	<i class="fa fa-5x fa-institution step-icon"></i>
	<div class="form">

		<div class="app-text">
			<h3 class="step-title">{{ title }}</h3>
			<p class="instructions">{{ text }}</p>
			<p class="instructions">{{ text2 }}</p>
		</div>

	    {{> quickForm collection="Applicants" schema="FormSchemas.GetHouseholdSSN" id="householdSSNForm" type="update" doc=this buttonClasses="btn-next btn-primary btn" buttonContent="Next"}}

		<ul class="navigation-buttons">
			<li><a class="btn-primary btn" href="#"><i class="fa-arrow-circle-left fa"></i> Back</a></li>
			<li><a class="btn-help btn-warning btn" href="#">Help <i class="fa-question-circle fa"></i></a></li>
		</ul><!-- /.navigation-buttons -->

	</div>

</template>