<template name="Index">
    <i class="fa fa-5x fa-cutlery step-icon"></i>
    <div class="form">
    <div class="app-text">
        <h3 class="step-title">Welcome!</h3>
        <p class="instructions">To get started, click the "Go" button.</p>
    </div>
        <!--<img class="center-block welcome" src="/img/lunch.jpg" alt="Children eating lunch at school">-->
    <img class="img-responsive img-rounded welcome" src="/img/lunch.jpg" alt="Children eating lunch at school">
    <!-- @todo: Fix these inline styles -->
    <ul class="navigation-buttons" style="width: 100%; text-align: right;">
	      <li><a class="btn-primary btn" href="{{pathFor 'SignIn'}}" data-toggle="tooltip" data-placement="left" title="Click this button to get started!" style="margin-right: 40px;">Go <i class="fa fa-arrow-circle-right"></i></a></li>
      </ul><!-- /.navigation-buttons -->
    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</template>