<template name="KidIncome">
	<i class="fa fa-5x fa-money step-icon"></i>
	<div class="form">
		<div class="app-text">
			<h3 class="step-title">{{ title }}</h3>
			<p class="instructions">{{ text }}</p>
		</div>
		{{#autoForm id="kidIncomeForm" type="update" collection="Applicants" doc=this scope="kid" setArrayItems=true}}

			{{> afQuickField name=thisKidFieldA}}

			  <div class="form-group">
		    <button type="submit" class="btn btn-primary btn-next">Next</button>
		
			</div>
	    {{/autoForm}}

		<ul class="navigation-buttons">
			<li><a class="btn-primary btn" href="#"><i class="fa-arrow-circle-left fa"></i> Back</a></li>
			<li><a class="btn-help btn-warning btn" href="#">Help <i class="fa-question-circle fa"></i></a></li>
		</ul><!-- /.navigation-buttons -->

	</div>

</template>

