<template name="Kid">
	<i class="fa fa-5x fa-child step-icon"></i>
	<div class="form">
	<div class="app-text">
		<h3 class="step-title">{{ title }}</h3>
    	<p class="instructions">{{ text }}</p>
	</div>
		{{> quickForm id="kidForm" type="update-pushArray" collection="Applicants" schema="FormSchemas.GetKidName" omitFields="verified" doc=this scope="kid" buttonClasses="btn-primary btn-next btn" buttonContent="Next"}}

		<ul class="navigation-buttons">
			<li><a class="btn-primary btn" href="{{pathFor 'HouseholdFlag'}}"><i class="fa-arrow-circle-left fa"></i> Back</a></li>
			<li><a class="btn-help btn-warning btn" href="#">Help <i class="fa-question-circle fa"></i></a></li>
		</ul><!-- /.navigation-buttons -->

	</div>

</template>

