<!-- client/layout.html -->
<template name="layoutMain">
  <div class="container">
  <div class="header">
  	{{> yield region="header"}}
  </div> <!-- /.header -->
    {{> yield}}
    <div class="footer">
    	{{> yield region="footer"}}
    </div> <!-- /.footer -->
  </div> <!-- /.container -->
</template>