<template name="myTemplate">
	<div class="container-form">
	<p>{{afFieldLabelText name=this.atts.name}}</p>
	{{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
	        {{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
            <button type="button" class="btn btn-primary autoform-remove-item pull-left"><span class="glyphicon glyphicon-minus"></span></button>
        {{/if}}

        {{> afObjectField name=this.name label=false template='myObjectField'}}

    {{/afEachArrayItem}}
		    <a class="btn" href="/">Back</a>
	</div>
</template>

