<template name="SignIn">
    <i class="fa fa-5x fa-male step-icon"></i>
    <div class="signinform">

        <div class="app-text">
            <h3 class="step-title">{{ title }}</h3>
            <p class="instructions">{{ text }}</p>
        </div>

   {{> quickForm collection="Applicants" schema="FormSchemas.ApplicantName" id="insertApplicantForm" type="insert" omitFields="signindate" doc=this buttonClasses="btn btn-primary btn-next" buttonContent="Next"}}
        <ul class="navigation-buttons">
            <li><a class="btn btn-primary" href="{{pathFor 'Index'}}"><i class="fa-arrow-circle-left fa"></i> Back</a></li>
            <li><a class="btn-help btn-warning btn" href="#">Help <i class="fa-question-circle fa"></i></a></li>
        </ul><!-- /.navigation-buttons -->
    </div>

  <script>
      $(function () {
      $('[data-toggle="popover"]').popover()
  })
  </script>

</template>