/* CSS declarations go here */


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic);
/* @todo: import this in the <head> */

.container {
	background-color: #d6d6d6;
}
.masthead {
	width: 100%;
	height: 8em;
	background-color: #004f3a;
	font-family: "Source Sans Pro", sans-serif;
	display: table;
	padding-left: 1em;
}
#logo {
	background-image: url(/img/usda_logo.png);
	background-repeat: no-repeat;
	display: table-cell;
	background-size: auto 5em;
	background-position: center;
	height: 5em;
	margin-left: 1em;
	width: 8em;
	vertical-align: middle;
}
#logo > h1 {
	font-size: 0;
}
#fns, #fns:hover, #fns:active {
	font-family: "Source Sans Pro", sans-serif;
	color: #ffffff;
	text-decoration: none !important;
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
}
#fns > h2 {
	font-weight: 300;
	font-size: 1.5em;
}
#app-title {
	font-style: italic;
	font-weight: light;
	width: 100%;
	height: 5em;
	display: block;
	background-color: #b9b9b9;
	padding: 1em .5em;
	font-family: "Source Sans Pro", sans-serif;
	display: table;
}
#app-title > h2 {
	display: table-cell;
	vertical-align: middle;
	padding-left: 4.5em;
	font-weight: 300;
}
.app-text {
	display: inline-block;
	/*margin-left: 5.5em;*/
}
#footer-links {
	float: left;
	list-style-type: none;
	width: 100%;
	text-align: center;
	background-color: #b9b9b9;
	font-family: "Source Sans Pro", sans-serif;
}
#footer-links > li {
	display: inline-block;
	padding: 1em;
}
#footer-links > li > a {
	color: #000000;
}

.step-title {
	font-family: "Source Sans Pro", sans-serif;
	color: #004f3a;
}
.step-icon {
	color: #d6d6d6;
	background-color: #b9b9b9;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
	position: absolute;
}
.instructions {
	font-family: "Source Sans Pro", sans-serif;
}

.navigation-buttons {
	list-style-type: none;
	float: left;
	text-align: left;
	padding-left: 0;
}
.navigation-buttons > li {
	display: inline-block;
}

.go-button {
	background-color: #1e398c;
	color: #ffffff;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font-size: 1.5em;
}
.go-button:active, .go-button:hover {
	color: #ffffff;
	background-color: #162d72;
}
.back-button {
	background-color: #1e398c;
	color: #ffffff;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	display: none;
}
.back-button:active, .back-button:hover {
	color: #ffffff;
	background-color: #162d72;
}
.legal-copy {
	margin-bottom: 0;
	font-size: .8em;
	text-transform: uppercase;
	font-weight: bold;
}

.welcome {
	width: 80%;
	border-radius: 3px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	margin: 1em auto;
}

.panel-heading {
	display: none;
}
.panel-body {
	padding: 0;
}

.panel, .form-container {
	margin: 0 auto;
}

.contactinfoform, .addressform, .kidinfoform, .signinform, .form {
	width: 80%;
	margin: 0 auto;
}

.btn-next {
	float: right;
}
.btn-next:after {
	font-family: "FontAwesome";
	content: ' \f0a9'
}

.btn-finish:after {
	font-family: "FontAwesome";
	content: ' \f058'
}

.panel {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
}